@tailwind base;
@tailwind components;
@tailwind utilities;
@import "keen-slider/keen-slider.min.css";


:root {
    --font-vazir: Vazirmatn, sans-serif;
}

body {
    font-family: var(--font-vazir);
    background-color: #f9fafb;
    height: 100%;
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-slide {
    animation: slide 30s linear infinite;
  }
  
  .pause {
    animation-play-state: paused !important;
  }
  
  